* {
    margin: 0;
    padding: 0;
    font-family: 'Basic';
    text-decoration: 0;
}

.banner {
    width: 100%;
    height: 233vh, auto;
    background-color: black;
    background-size: 320vh, cover;
    background-repeat: no-repeat;
    background-position: bottom, center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 70px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: darkred;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.static {
    background-color: white;
}

.static h1 {
    color: black;
    display: flex;
    justify-content: center;
}

.animated {
    background-color: white;
    color: black;
}

.animated h1 {
    display: flex;
    justify-content: center;
}

.card1-container {
    background-image: linear-gradient(rgba(98, 98, 98, 0.75), rgba(140, 62, 2, 0.75));
}

.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 33rem;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
}

.card1 h2 {
    color: white;
    font-size: 26px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 2rem;
    padding-left: 20px;
    margin-bottom: 1rem;
}

.card1 p {
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 2rem;
    border-left: 4px solid rgb(255, 0, 255);
    padding-left: 20px;
}

.card2 {
    padding-left: 33rem;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card2 h2 {
    color: white;
    font-size: 26px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 2rem;
    padding-left: 20px;
    margin-bottom: 1rem;
}

.card2 p {
    color: white;
    font-size: 0px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 2rem;
    border-left: 4px solid rgb(255, 0, 255);
    padding-left: 20px;
}

.card2 p:hover {
    transition: 0.4s;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
}

.card3-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(84, 21, 2, 0.75))
}

.card3 {
    display: flex;
    flex-direction: column;
    padding-left: 33rem;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card3 h2 {
    font-family: "Audiowide", sans-serif;
    color: white;
    font-size: 26px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 2rem;
    padding-left: 20px;
    margin-bottom: 1rem;
}

.card3 img {
    width: 15%;
    margin-left: 2rem;
    border-radius: 15%;
}

.card3 p {
    font-family: "Audiowide", sans-serif;
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 2rem;
    border: 4px solid orangered;
    padding: 20px;
    background-color: darkblue;
    border-radius: 15%;
    width: 200px;
}

.card4 {
    display: flex;
    flex-direction: column;
    padding-left: 33rem;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
}

.card4 img {
    width: 15%;
    margin-left: 2rem;
    border-radius: 15%;
}

.card3-container h1 {
    position: relative;
    left: 35%;
    color: white;
    padding: 1rem 7rem;
}

.card4 h2 {
    font-family: "Audiowide", sans-serif;
    color: white;
    font-size: 26px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 2rem;
    padding-left: 20px;
    margin-bottom: 1rem;
}

.card4 p {
    font-family: "Audiowide", sans-serif;
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 2rem;
    border: 4px solid orangered;
    padding: 20px;
    background-color: darkblue;
    border-radius: 15%;
    width: 400px;
}

.card4 p:hover {
    transition: .4s;
    border: 4px solid darkblue;
    background-color: orangered;
    color: rgb(0, 0, 0);
}

.card5-container {
    background-image: linear-gradient(rgba(1, 131, 113, 0.75), rgba(136, 136, 136, 0.75));
    padding-top: 15px;
    padding-bottom: 15px;
}

.card5 {
    position: relative;
    top: 50%;
    left: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 780px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}

.desc {
    font-family: "Sofia", sans-serif;
    color: white;
}

.card6 {
    position: relative;
    top: 50%;
    left: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 780px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}

.card6 h1 {
    color: white;
    padding: 1rem 7rem;
}

.card6 p:hover{
    transition: 0.3s;
    font-size: 35px;
}

.card7-container {
    background-image: linear-gradient(rgba(209, 89, 8, 0.75), rgba(61, 98, 2, 0.75));
    padding-top: 15px;
    padding-bottom: 15px;
}

.card7 {
    position: relative;
    top: 50%;
    left: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 780px;
    font-size: 30px;
    border: dotted;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}

.card8 {
    position: relative;
    top: 50%;
    left: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 780px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
    animation-name: shake;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.card8:hover {
    transition: shake 1s ease-in-out;
    animation-name: stop;
    animation-duration: .5s;
}

@keyframes shake{
    ease-in-out
    14%{
        transform: translateX(15px);
    }
    16%{
        transform: translateY(-15px);
    }
    30%{
        transform: translateX(15px);
    }
    40%{
        transform: translateY(15px);
    }
}
@keyframes stop {
    0%{
        transform: rotate(0);;
    }
}

.card9-container {
    background-image: linear-gradient(rgba(18, 40, 73, 0.75), rgba(3, 7, 24, 0.75));
    padding-top: 15px;
    padding-bottom: 15px;
}

.card9 {
    position: relative;
    top: 50%;
    left: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 780px;
    font-size: 30px;
    border: 4px rgb(13, 10, 31) double;
    background-color: rgb(17, 14, 52);
}

.card-10 {
    position: relative;
    top: 50%;
    left: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 780px;
    font-size: 30px;
    transition: .5s;
}

.card-10 p:hover {
    transition: .5s;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 780px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}

.border {
    background-color: white;
}

.desc2 {
    font-family: "Sofia", sans-serif;
    color: white;
}

