* {
    margin: 0;
    padding: 0;
    font-family: 'Basic';
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(84, 21, 2, 0.75)), url(../img/hero2-bg.jpg);
    background-size: 70 vh, cover;
    background-repeat: no-repeat;
    background-position: bottom, center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 70px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: darkred;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    height: calc(100vh - 132px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20vh;
}

.hero-pic {
    border-radius: 50%;
}

.hero-pic img{
    display: flex;
    width: 172%;
    background-image: url(../img/hero2-img-bg.png);
    background-size: 60dvh;
    background-position: center;
    background-repeat: no-repeat;
}

.content-intro {
    flex-direction: row;
    background-color: white;
    border-radius: 15%;
}

.content-intro h1 {
    font-size: 96px;
    line-height: 106px;
    padding: 10px 20px;
    color: black;
    font-weight: 600;
    font-family: "Audiowide", sans-serif;
}

.content-intro h3 {
    font-size: 53px;
    line-height: 67px;
    color: white;
    font-weight: 600;
    display: block;
    background-color: black;
    padding: 10px 20px;
    width: fit-content;
    font-family: "Audiowide", sans-serif;
    border-radius: 15%;
}

.card-container {
    flex-direction: column;
    margin-right: 3rem;
}

.card1 {
    padding-bottom: .5rem;
}

.card1 img {
    width: 35%;
    margin-left: 2rem;
    border-radius: 15%;
}

.card1 p {
    font-family: "Audiowide", sans-serif;
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 2rem;
    border: 4px solid orangered;
    padding: 20px;
    background-color: darkblue;
    border-radius: 15%;
    width: fit-content;
}

.card2 {
    padding-bottom: .5rem;
}

.card2 img {
    width: 35%;
    margin-left: 2rem;
    border-radius: 15%;
}

.card2 p {
    font-family: "Audiowide", sans-serif;
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    margin-left: 2rem;
    border: 4px solid orangered;
    padding: 20px;
    background-color: darkblue;
    border-radius: 15%;
    width: fit-content;
}